.uigradients {
  background: #bc9cb0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bc9cb0,
    #3c0919,
    #ddf2eb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bc9cb0,
    #3c0919,
    #ddf2eb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
